<table class = 'table table-striped table-responsive'>
  <thead>
    <th>Name</th>
    <th>Base Price</th>
    <th>Description</th>
    <th>Show</th>
  </thead>
  <tbody id='products'>
  </tbody>
</table>
