<h1>Add a product</h1>

<form id="new product">
  <input placeholder="name" name="product[name]" require = true/>
  <input placeholder="description" name="product[description]"/>
  <input placeholder="price" name="product[price]" type ='number'/>
  <button class = 'btn btn-primary' type='submit'>Submit</button>
</form>
